<% include partials/header %>

<div class="parallaxAbout">
  <div class="captionContact headerTwo">
    <div class="container">
        <div class="lineDecoration"></div>
        <div class="spacer"></div>
        <h2 class="headerTwo">CARDIAGE IS A PROJECT THAT INTENDS TO TRANSFORM THE IMAGINATION INTO REALITY. WE ARE SPECIALISED IN THE LASER CUT TECHNIQUE, WHICH MAKES OUR INVITATIONS DETAILED AND EXCLUSIVE.  WE ARE IN CONSTANT RESEARCH TO MAKE THE DIFFERENCE.
        </h2>
        <div class="spacer"></div>
         <div class="lineDecoration"></div>
    </div>
  </div>
</div>
<div style="background-color: white; padding: 0; margin: 0">
    <div class="container-fluid" style="margin: 0 auto; max-width: 1000px; padding: 0">
        <div class="mainText row text-center" style="margin: 0 50px">
            <div class="col-xs-12 col-sm-12 col-md-12 align-self-center" style="color: rgba(56, 128, 120, 0.4)">
                <div class="spacer"></div>
                <h1 class="headerTwo">ABOUT</h1> 
                <div class="spacer"></div>
            </div>
        </div>
        <div class="mainText row text-center" style="margin: 0 50px">
            <div class="col-xs-12 col-sm-12 col-md-6 align-self-center" style="">
                <h4 class="text-justify" style="color: rgba(56, 128, 120, 0.4)">
                    Cardiage was born out of the inquisitiveness and creativity of Carlota Aparisi, 
                    the leader of the study behind the brand. She was originally specialised in animation 
                    and she redirected her artistic career in a field that allowed her to express and explore 
                    her curiosity about details. As a result of the constant effort, 
                    Cardiage was born to create detailed and pleasant invitations.
                    The concept was clear: to create invitations carefully done, surrounded by tiny gestures 
                    that makes the difference.
                </h4>      
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 align-self-center">
                <h4 class="text-justify" style="color: rgba(56, 128, 120, 0.4)">
                    Cardiage invitations are capable of narrating stories, transforming 
                    a piece of paper into a great memory, going beyond simple information.
                    Although the base of our work is the laser technique,
                    we have the intention to grow and explore new lines of work in order to meet any request. 
                    At the end, Cardiage is a place where the imagination becomes reality.
                    If you want to know more, we will be pleased to hear you.
                </h4>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
</div>
    

<% include partials/footer %>