<% include partials/header %>

<div class="parallaxMulti">
  <div class="captionContact">
    <div class="container">
        <h1>Oops! Something went wrong.
        <br>
        <small>Page Not Found</small>
        </h1>
        <div class="spacer"></div>
    </div>
  </div>
</div>
    


<% include partials/footer %>