<!DOCTYPE html>
<html>
    <head>
        <title>Cardiage</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/coverPage.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to Cardiage</h1>
 		<h2>High Class Event Stationary</h2>
		<a href="/home" class="btn btn-sm btn-default">Discover</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</body>
</html>
        
    <!--    <iframe id="ytplayer" type="text/html" width="100%" height="920px"-->
    <!--            src="https://www.youtube.com/embed/OSMCbNtDjwU?autoplay=1&controls=0&fs=0&loop=1&rel=0&showinfo=0&color=white"-->
    <!--            frameborder="0" allow="autoplay; loop" allowfullscreen>-->
        
    <!--</body>-->