        <div style="background-color: rgba(56, 128, 120, 0.4); padding: 0; margin: 0">
                <div class="container-fluid" style="margin: 0 auto; height: 1000px; padding: 0">
                <div class="mainText row text-center" style="margin: 50px">
                <div clas="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 socialIcons" >
                      <h3 class="mainText"><em>Follow Us!</em></h3>
                    </div>
                </div>
                <div clas="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 socialIcons" >
                       <a href="http://www.instagram.com/cardiage/"><i class="fa fa-instagram"></i></a>
                       <a href="http://www.facebook.com/cardiage/"><i class="fa fa-facebook-square"></i></a>
                       <a href="/contact"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
        </div>    
    
    </body>
</html>